<!DOCTYPE html>

<html lang="pl-PL">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../static/main.css" type="text/css" />
  <title>Ochrona Danych - Projekt</title>
</head>

<body>
  <header>
    <div id="headContainer">
      <a href="userHome"><img src="../static/images/od.png" alt="logo" id="logo" /></a>
      <nav>
        <ul>
          <li><a href="logout">Wyloguj się</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="loginFormContainer">
    <form method="POST" action="/changePassword" onsubmit="return Validate()">
      <label for="oldPassword">Stare hasło</label><br />
      <input type="password" id="oldPassword" name="oldPassword" placeholder="Stare hasło..."><br />
      <div id="old_password_error" class="reg_error"></div>

      <label for="password">Nowe hasło</label><br />
      <input type="password" id="regpassword" name="password" placeholder="Nowe hasło..."><br />
      <div id="password_error" class="reg_error"></div>
      <div id="password_strength" class="password_strength"></div>

      <label for="confirm_password">Powtórz hasło</label><br />
      <input type="password" id="confirm_password" name="confirm_password" placeholder="Powtórz hasło..."><br />
      <div id="confirm_password_error" class="reg_error"></div>

      <input type="submit" value="Zatwierdź">
    </form>
  </div>

  <footer>
    <p class="stopka">Janusz Sawicki 11.01.2019</p>
  </footer>

  <script type="text/javascript" src="../static/js/passchange.js"></script>
</body>

</html>