<!DOCTYPE html>

<html lang="pl-PL">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../static/main.css" type="text/css" />
  <title>Rowery</title>
</head>

<body>
  <header>
    <div id="headContainer">
      <a href="login"><img src="../static/images/od.png" alt="logo" id="logo" /></a>
      <nav>
        <ul>
          <li><a href="logout">Wyloguj się</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="accountCreated">
    <h2>Zalogowany jako: {{username}}</h2>
    <a href="logout"><button type="button" id="createUserLoginButton">Wyloguj</button></a>
  </div>

  <footer>
    <p class="stopka">Janusz Sawicki 11.01.2019</p>
  </footer>

  <script type="text/javascript" src=""></script>
</body>

</html>